<div class="container-fluid container-fluid-eco">

  <div class="row">
    <div class="col-md-12">
      <!--Video-->
    </div>
  </div>

</div>

<div class="container">

  <div class="d-flex container-logo">
    <img class="tamanho-imgLogo" src="../../assets/img/logosobre.png" alt="">
  </div>

  <div class="">
    <div class="d-flex justify-content-center">
      <div class="container-sobre">

        <h3 class="sobre-nos">Sobre nós</h3>
        <p class="text-center">Nascemos da necessidade de contribuir com a ampliação do trabalho decente, crescimento
          econômico, consumo e produção responsáveis – que são objetivos de desenvolvimento responsável da ONU – o
          Efeito Eco, como o nome, mesmo sendo um trocadilho, sugere, tem o objetivo de fazer ecoar a voz de produtores
          de produtos de origem ecológica, e conectá-lo a consumidores conscientes.</p>

      </div>
    </div>

  <!--Missão, Visão, Valores-->
      <div class="d-flex justify-content-center mt-5"> 
      <div class="card" style="width: 18rem;">
        <img src="https://imgur.com/B5W7gOj.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Missão</h4>
          <p class="card-text mt-3">Facilitar o consumo consciente, dando voz a pequenos produtores de produtos ecológicos e
            entregando ao consumidor a facilidade de encontrar produtos de qualidade e de origem confiável.</p>
        </div>
      </div>

      <div class="card ml-5" style="width: 18rem;">
        <img src="https://imgur.com/Iqwawyz.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Visão</h4>
          <p class="card-text mt-3">Contribuir com o desenvolvimento sustentável, geração de renda para o pequeno produtor e
            menor geração de resíduos, por parte do consumidor.</p>
        </div>
      </div>
      
      <div class="card ml-5" style="width: 18rem;">
        <img src="https://imgur.com/B5W7gOj.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Valores</h4>
          <p class="card-text mt-3">Nossos valores inegociáveis são: o respeito a natureza,consumo responsável e nossa contribuição com a economia, que faz ecoar para o mundo o trabalho de milhares de pessoas.</p>
        </div>
      </div>

    </div>
  <!--/Missão, Visão, Valores-->

  
  </div>

<hr class="mt-5"> 

<h3 class="sobre-nos mt-5">Equipe Desenvolvedora</h3>

  <div class="d-flex justify-content-center">
      <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3 mt-3" align="center">


          <div class="col mb-4">
            <div class="card">
              <img src="https://avatars.githubusercontent.com/u/77853116?v=4" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Daniel Santos</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium saepe assumenda ex quasi ratione. Dignissimos repellendus molestiae tenetur ipsa exercitationem, quia recusandae perferendis voluptatibus voluptas fugit, id repellat atque? Eum.</p>
                
              </div>
              <div class="justify-content-center">
                <ul class="redes-sociais">
                  <li><a class="tamanho cor hover-redes" href="https://github.com/DanielSantos0" target="_blank"><i class="fab fa-github"></i></a></li>
                  <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/daniel-de-oliveira-santos-450aa0159/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>



          <div class="col mb-4">
            <div class="card">
              <img src="https://avatars.githubusercontent.com/u/77849976?v=4" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Francine Massaro</h5>
                <p class="card-text">Amante da natureza e observadora de aves nas horas vagas. Ciclista, montanhista e amante de esportes. Comunicativa e curiosa.</p>
                
              </div>
              <div class="justify-content-center">
                <ul class="redes-sociais">
                  <li><a class="tamanho cor hover-redes" href="https://github.com/francinemassaro" target="_blank"><i class="fab fa-github"></i></a></li>
                  <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/francine-massaro/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="col mb-4">
            <div class="card">
              <img src="https://avatars.githubusercontent.com/u/66168082?v=4" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gabriel Fernandes</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium saepe assumenda ex quasi ratione. Dignissimos repellendus molestiae tenetur ipsa exercitationem, quia recusandae perferendis voluptatibus voluptas fugit, id repellat atque? Eum.</p>
                
              </div>
              <div class="justify-content-center">
                <ul class="redes-sociais">
                  <li><a class="tamanho cor hover-redes" href="https://github.com/gabsschrodinger" target="_blank"><i class="fab fa-github"></i></a></li>
                  <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/gfernandesribeiro/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="col mb-4">
            <div class="card">
              <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFiJloM1CHvvg/profile-displayphoto-shrink_800_800/0/1613148638819?e=1623888000&v=beta&t=uDt5Kbf4Z0x71yTtkQdjih-fVamBSlNIk710zM5q1R8" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gabriela Rodrigues</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium saepe assumenda ex quasi ratione. Dignissimos repellendus molestiae tenetur ipsa exercitationem, quia recusandae perferendis voluptatibus voluptas fugit, id repellat atque? Eum.</p>
                
              </div>
              <div class="justify-content-center">
                <ul class="redes-sociais">
                  <li><a class="tamanho cor hover-redes" href="https://github.com/gabiircosta" target="_blank"><i class="fab fa-github"></i></a></li>
                  <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/gabriela-da-costa-rodrigues-05688381/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>



          <div class="col mb-4">
            <div class="card">
              <img src="https://avatars.githubusercontent.com/u/77843044?v=4" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Wendell Gomes</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium saepe assumenda ex quasi ratione. Dignissimos repellendus molestiae tenetur ipsa exercitationem, quia recusandae perferendis voluptatibus voluptas fugit, id repellat atque? Eum.</p>
                
              </div>
              <div class="justify-content-center">
                <ul class="redes-sociais">
                  <li><a class="tamanho cor hover-redes" href="https://github.com/wendell-gomes" target="_blank"><i class="fab fa-github"></i></a></li>
                  <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/wendell-sgomes/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="col mb-4">
            <div class="card">
              <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEj-e2s-LmPoQ/profile-displayphoto-shrink_200_200/0/1616707091261?e=1623888000&v=beta&t=fGYV986UBUSdDhwXNpL2kEk5ROhYSzD4rgcylUkdlJk" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Yarin Lemos</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium saepe assumenda ex quasi ratione. Dignissimos repellendus molestiae tenetur ipsa exercitationem, quia recusandae perferendis voluptatibus voluptas fugit, id repellat atque? Eum.</p>
                
              </div>
              <div class="justify-content-center">
                <ul class="redes-sociais">
                  <li><a class="tamanho cor hover-redes" href="https://github.com/yarin-alcantara" target="_blank"><i class="fab fa-github"></i></a></li>
                  <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/yarin-alcantara/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>




        </div>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Apoiador</h1>
            <p class="lead">Generation</p>
            <img class="tamanho-logoGeneration" src="../../assets/img/generation-logo.png" alt="">
          </div>
        </div>


      </div>


    </div>
  </div>