<video autoplay muted loop id="myVideo">
  <source src="../../assets/video/PROJETO RELAMPAGO .mp4" type="video/mp4">
</video>

<div class="container-fluid container-fluid-eco">

</div>

<div class="container">

  <div class="d-flex container-logo">
    <img class="tamanho-imgLogo" src="../../assets/img/logosobre.png" alt="">
  </div>

  <div class="">
    <div class="d-flex justify-content-center">
      <div class="container-sobre">

        <h3 class="sobre-nos">Sobre nós</h3>
        <p class="text-center">Nascemos da necessidade de contribuir com a ampliação do trabalho decente, crescimento
          econômico, consumo e produção responsáveis – que são objetivos de desenvolvimento responsável da ONU – o
          Efeito Eco, como o nome, mesmo sendo um trocadilho, sugere, tem o objetivo de fazer ecoar a voz de produtores
          de produtos de origem ecológica, e conectá-lo a consumidores conscientes.</p>

      </div>
    </div>

  <!--Missão, Visão, Valores-->
      <div class="d-flex justify-content-center mt-5"> 
      <div class="card" style="width: 18rem;">
        <img src="https://imgur.com/B5W7gOj.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Missão</h4>
          <p class="card-text mt-3">Facilitar o consumo consciente, dando voz a pequenos produtores de produtos ecológicos e
            entregando ao consumidor a facilidade de encontrar produtos de qualidade e de origem confiável.</p>
        </div>
      </div>

      <div class="card ml-5" style="width: 18rem;">
        <img src="https://imgur.com/Iqwawyz.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Visão</h4>
          <p class="card-text mt-3">Contribuir com o desenvolvimento sustentável, geração de renda para o pequeno produtor e
            menor geração de resíduos, por parte do consumidor.</p>
        </div>
      </div>
      
      <div class="card ml-5" style="width: 18rem;">
        <img src="https://imgur.com/B5W7gOj.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Valores</h4>
          <p class="card-text mt-3">Nossos valores inegociáveis são: o respeito a natureza,consumo responsável e nossa contribuição com a economia, que faz ecoar para o mundo o trabalho de milhares de pessoas.</p>
        </div>
      </div>

    </div>
  <!--/Missão, Visão, Valores-->

  
  </div>

<hr class="mt-5"> 

<h3 class="sobre-nos mt-5">Equipe Desenvolvedora</h3>

  <div class="d-flex justify-content-center">
      <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-2 mt-3" align="center">

          <!--Daniel-->
          <div class="col mb-4">
            
            <div class="card">
              <div class="d-flex">
               
                <img src="https://avatars.githubusercontent.com/u/77853116?v=4" class="card-img-top img-perfil mt-3 ml-5" alt="...">
                          
              <div class="card-body">
                <h5 class="card-title mt-3" id="passar_mouse">Daniel Santos</h5>
                <p class="card-text">Muito ligado aos amigos e a família, apaixonado por esportes, em especial Futebol Americano, super curioso por coisas novas.</p>

                <div class="justify-content-center">
                  <ul class="redes-sociais">
                    <li><a class="tamanho cor hover-redes" href="https://github.com/DanielSantos0" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/daniel-de-oliveira-santos-450aa0159/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>

            </div>
                      
            </div>
          </div>

          <!--Francine-->
          <div class="col mb-4">
            
            <div class="card">
              <div class="d-flex">
               
                <img src="https://avatars.githubusercontent.com/u/77849976?v=4" class="card-img-top img-perfil mt-3 ml-5" alt="...">
                          
              <div class="card-body">
                <h5 class="card-title mt-3" id="passar_mouse">Francine Massaro</h5>
                <p class="card-text">Amante da natureza e observadora de aves nas horas vagas. Ciclista, montanhista e amante de esportes. Muito comunicativa e curiosa.</p>

                <div class="justify-content-center">
                  <ul class="redes-sociais">
                    <li><a class="tamanho cor hover-redes" href="https://github.com/francinemassaro" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/francine-massaro/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>

            </div>
                      
            </div>
          </div>

          <!--Gabriel-->
          <div class="col mb-4">
            
            <div class="card">
              <div class="d-flex">
               
                <img src="https://avatars.githubusercontent.com/u/66168082?v=4" class="card-img-top img-perfil mt-3 ml-5" alt="...">
                          
              <div class="card-body">
                <h5 class="card-title mt-3" id="passar_mouse">Gabriel Fernandes</h5>
                <p class="card-text">Amante de tecnologia. Programo em Java, JS e TS. Desejo programar meus próprios jogos nos próximos meses e cursar uma faculdade de tecnologia.</p>

                <div class="justify-content-center">
                  <ul class="redes-sociais">
                    <li><a class="tamanho cor hover-redes" href="https://github.com/gabsschrodinger" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/gfernandesribeiro/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>

            </div>
                      
            </div>
          </div>

          <!--Gabriela-->
          <div class="col mb-4">
            
            <div class="card">
              <div class="d-flex">
               
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFiJloM1CHvvg/profile-displayphoto-shrink_800_800/0/1613148638819?e=1623888000&v=beta&t=uDt5Kbf4Z0x71yTtkQdjih-fVamBSlNIk710zM5q1R8" class="card-img-top img-perfil mt-3 ml-5" alt="...">
                          
              <div class="card-body">
                <h5 class="card-title mt-3" id="passar_mouse">Gabriela Rodrigues</h5>
                <p class="card-text">Entusiasta da tecnologia, engenheira química e gestora ambiental, apaixonada por ajudar pessoas. Agora, me aventuro no desenvolvimento web!</p>

                <div class="justify-content-center">
                  <ul class="redes-sociais">
                    <li><a class="tamanho cor hover-redes" href="https://github.com/gabiircosta" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/gabriela-da-costa-rodrigues-05688381/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>

            </div>
                      
            </div>
          </div>

          <!--Wendell-->
          <div class="col mb-4">
            
            <div class="card">
              <div class="d-flex">
               
                <img src="https://avatars.githubusercontent.com/u/77843044?v=4" class="card-img-top img-perfil mt-3 ml-5" alt="...">
                          
              <div class="card-body">
                <h5 class="card-title mt-3" id="passar_mouse">Wendell Gomes</h5>
                <p class="card-text">Fascinado pela área da tecnologia, desde os 10 anos, montando e desmontando computadores. Persistente para buscar coisas novas e apaixonado em ajudar pessoas.</p>

                <div class="justify-content-center">
                  <ul class="redes-sociais">
                    <li><a class="tamanho cor hover-redes" href="https://github.com/wendell-gomes" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/wendell-sgomes/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>

            </div>
                      
            </div>
          </div>

          <!--Yarin-->
          <div class="col mb-4">
            
            <div class="card">
              <div class="d-flex">
               
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEj-e2s-LmPoQ/profile-displayphoto-shrink_200_200/0/1616707091261?e=1623888000&v=beta&t=fGYV986UBUSdDhwXNpL2kEk5ROhYSzD4rgcylUkdlJk" class="card-img-top img-perfil mt-3 ml-5" alt="...">
                          
              <div class="card-body">
                <h5 class="card-title mt-3" id="passar_mouse">Yarin Lemos</h5>
                <p class="card-text">Formada em Contabilidade, mas me encontrei profissionalmente na área de TI. Sou uma mulher persistente, corajosa, motivada por desafios, apaixonada por tecnologia e amante do mundo.</p>

                <div class="justify-content-center">
                  <ul class="redes-sociais">
                    <li><a class="tamanho cor hover-redes" href="https://github.com/yarin-alcantara" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/yarin-alcantara/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>

            </div>
                      
            </div>
          </div>

        </div>

        <!--Jumbotron-->

        <div class="jumbotron jumbotron-fluid mt-4 bg-light">
          <div class="d-flex align-items-center">
            
            <div class="col-md-4" ><img class="img-jumbotron"  src="https://i.imgur.com/b1jn31D.png" alt=""></div>
            <div class="col-md-8">
            <h2 class="display-4 card-title apoiador">Apoiador</h2>
            <h4 class="lead text-justify"> Com a missão de apoiar jovens a construírem carreiras sustentáveis e prósperas e fornecer aos empregadores uma rede de talentos altamente qualificados e motivados, e visando aprimorar os resultados de seus negócios, a Generation é uma ONG multinacional, que com seu programa de formação de Desenvolvedores Java Jr, possibilita um emprego no início da carreira para todos os jovens em qualquer lugar do mundo. </h4>
          </div>
          </div>
        </div>


      </div>
    </div>
  </div>