<div class="container-fluid container-fluid-eco">

  <div class="row">
    <div class="col-md-12">
      <!--Video-->
      <p>VÍDEO</p>
    </div>
  </div>

</div>

<div class="container">

  <div class="d-flex container-logo">
    <img class="tamanho-imgLogo" src="../../assets/img/logosobre.png" alt="">
  </div>

  <div class="">
    <div class="d-flex justify-content-center">
      <div class="container-sobre">

        <h3 class="sobre-nos">Sobre nós</h3>
        <p class="text-center">Nascemos da necessidade de contribuir com a ampliação do trabalho decente, crescimento
          econômico, consumo e produção responsáveis – que são objetivos de desenvolvimento responsável da ONU – o
          Efeito Eco, como o nome, mesmo sendo um trocadilho, sugere, tem o objetivo de fazer ecoar a voz de produtores
          de produtos de origem ecológica, e conectá-lo a consumidores conscientes.</p>

      </div>
    </div>

  <!--Missão, Visão, Valores-->
      <div class="d-flex justify-content-center mt-5"> 
      <div class="card" style="width: 18rem;">
        <img src="https://imgur.com/B5W7gOj.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Missão</h4>
          <p class="card-text mt-3">Facilitar o consumo consciente, dando voz a pequenos produtores de produtos ecológicos e
            entregando ao consumidor a facilidade de encontrar produtos de qualidade e de origem confiável.</p>
        </div>
      </div>

      <div class="card ml-5" style="width: 18rem;">
        <img src="https://imgur.com/Iqwawyz.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Visão</h4>
          <p class="card-text mt-3">Contribuir com o desenvolvimento sustentável, geração de renda para o pequeno produtor e
            menor geração de resíduos, por parte do consumidor.</p>
        </div>
      </div>
      
      <div class="card ml-5" style="width: 18rem;">
        <img src="https://imgur.com/B5W7gOj.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Valores</h4>
          <p class="card-text mt-3">Nossos valores inegociáveis são: o respeito a natureza e o consumo responsável.</p>
        </div>
      </div>

    </div>
  <!--/Missão, Visão, Valores-->

  
  </div>

<hr class="mt-5"> 

<h3 class="sobre-nos mt-5">Equipe Desenvolvedora</h3>

  <div class="d-flex justify-content-center">
      <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3 mt-3" align="center">


          <div class="col mb-4">
            <div class="card">
              <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                <button class="btn btn-success mt-3" align="center">
                  mudar
                </button>
              </div>
            </div>
          </div>



          <div class="col mb-4">
            <div class="card">
              <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                <button class="btn btn-success mt-3" align="center">
                  mudar
                </button>
              </div>
            </div>
          </div>


          <div class="col mb-4">
            <div class="card">
              <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                <button class="btn btn-success mt-3" align="center">
                  mudar
                </button>
              </div>
            </div>
          </div>


          <div class="col mb-4">
            <div class="card">
              <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                <button class="btn btn-success mt-3" align="center">
                  mudar
                </button>
              </div>
            </div>
          </div>



          <div class="col mb-4">
            <div class="card">
              <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                <button class="btn btn-success mt-3" align="center">
                  mudar
                </button>
              </div>
            </div>
          </div>


          <div class="col mb-4">
            <div class="card">
              <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                <button class="btn btn-success mt-3" align="center">
                  mudar
                </button>
              </div>
            </div>
          </div>




        </div>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Apoiador</h1>
            <p class="lead">Generation</p>
            <img class="tamanho-logoGeneration" src="../../assets/img/generation-logo.png" alt="">
          </div>
        </div>


      </div>


    </div>
  </div>