<main class="container mt-5 mb-5 d-flex">
    <div class="col-md-4 pt-4">
        <div class="d-flex justify-content-center flex-column">
            <img src="{{usuario.foto}}" alt="pessoa sorrindo">
            <h4 class="text-center mt-3">{{usuario.nome}}</h4>
            <button class="mt-5 botao-menu py-3 btn btn-light" [routerLink]="['atualizar-dados']">Atualizar dados</button>
            <button class="mt-3 botao-menu py-3 btn btn-light" [routerLink]="['cadastrar-produto']">Cadastrar Produto</button>
            <button class="mt-3 botao-menu py-3 btn btn-light" [routerLink]="['meus-produtos']">Meus Produtos</button>
            
        </div>
    </div>
    <div class="col-md-8 p-4 muda-conteudo">
        <router-outlet></router-outlet>
    </div>
</main>