<!--Carousel automático para as mensagens-->
<div class="mt-5 mb-5">
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-touch="false" data-interval="3000" align="center" data-ride='carousel'>
        <div class="carousel-inner naoArrasta img-carousel">
          <div class="carousel-item active">
            <img src="../../assets/img/frase1.png" class="d-inline w-0 naoArrasta img-carousel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/frase2.png" class="d-inline w-0 naoArrasta img-carousel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/frase3.png" class="d-inline w-0 naoArrasta img-carousel" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/frase4.png" class="d-inline w-0 naoArrasta img-carousel" alt="...">
          </div>
        </div>
      </div>
</div>
<!--Carousel automático para as mensagens-->


<main class="container d-flex mb-5">
    <div class="col-md-5 ">
        <!--<img src="../../assets/img/card1.jpg" alt="" class="img-produto">-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="produto.imagem1" class="d-block w-100" [alt]="produto.nome">
              </div>
              <div class="carousel-item">
                <img [src]="produto.imagem2" class="d-block w-100" [alt]="produto.nome">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <div class="col-md-7 pl-5">
        <h2 class="m-0 font-weight-bold nome-produto">
            {{produto.nome}}
        </h2>
        <span class="">Vendido por: <a href="" class="vendedor">{{produto.criadoPor.nome}} {{produto.criadoPor.sobrenome}}</a></span>
        <h3 class="mt-3 preco-principal mb-0">
            {{produto.preco}}
        </h3>
        <span class="parcela-principal"> ou 3x de R$ {{produto.preco / 3 | number: '1.2-2'}} sem juros</span>
        <div class="d-flex align-items-center mt-3">
            <button class="botao-quant btn btn-light d-flex justify-content-center align-items-center" (click)="diminuirQuantidade()">-</button>
            <div class="px-3 py-2 preco-item ml-3">{{quantidade}}</div>
            <button class="botao-quant ml-3 btn btn-light d-flex justify-content-center align-items-center" (click)="aumentarQuantidade()">+</button>
            <button class="botao-carrinho ml-5 py-3 btn btn-light " > <i class="fas fa-shopping-cart mr-4 carrinho">
            </i>Adicionar ao carrinho</button>
        </div>
        <div class="mt-4 text-justify">
            <p>
              {{produto.descricao}}
            </p>
        </div>

    </div>

</main>