<div class="bg-light mt-5 mb-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<main class="container d-flex mb-5">
    <div class="col-md-5 ">
        <img src="../../assets/img/card1.jpg" alt="" class="img-produto">
    </div>
    <div class="col-md-7 pl-5">
        <h2 class="">
            Bloco de Notas
        </h2>
        <h3 class="mt-3 preco-principal mb-0">
            R$ 30,00
        </h3>
        <span class="parcela-principal"> ou 3x de R$ 10,00 sem juros</span>
        <div class="d-flex align-items-center mt-3">
            <button class="botão-quant ">-</button>
            <div class="px-3 py-2 preco-item ml-3">1</div>
            <button class="botão-quant ml-3">+</button>
            <button class="botão-carrinho ml-5 py-3">Adicionar ao carrinho</button>
        </div>
        <div class="mt-4 text-justify">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aut laboriosam quidem velit corrupti! Sunt, sit qui rem perferendis maiores assumenda incidunt exercitationem debitis ullam. Tempora repudiandae a beatae totam.</p>
        </div>

    </div>

</main>