.bot-foto {
	border-radius: 100%;
	width: 36px;
	height: 36px;
	background-image: url(../../assets/img/cacau_cortada.jpg);
	background-position: center;
	background-size: cover;
}

.chat-topo {
	height: 50px;
	padding-left: 15px;
}

.bot {
	display: flex;
}

#fala-usuario {
	border-radius: 4px;
	width: 80%;
    border: 0; 
    padding: 5px; 
    border: 1px solid rgba(0, 0, 0, .5); 
}

.enviar-chatbot {
	color: rgba(0, 0, 0, .5);
	border-radius: 4px;
	width: 20%;
	transition: 0.5s;
}

.enviar-chatbot:hover {
	color: #000;
}

.chat {
	height: 300px;
	width: 50vw;
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
} 

.mensagens {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	background-color: #f8f9fa;
	padding: 15px;
	overflow-x: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
}

#botao-chatbot {
	transition: 0.5s;
	opacity: 0.5;
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 20px;
	width: 60px;
	height: 60px;
	background-color: #075f21;
	border-radius: 100%;
	box-shadow: 0 6px 10px rgb(0, 0, 0, 66%);
}

#botao-chatbot:hover {
	opacity: 1;
}

#conteudo-botao {
	font-size: 1.5em;
	color: #fff;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#chat-chatbot {
	z-index: 999;
	border: 1px solid rgba(0, 0, 0, .5);
	border-radius: 5px;
	display: none;
	position: fixed;
	right: 25px;
	bottom: 100px;
	width: 300px;
	background-color: #075f21;
}