<div class="container-fluid">
    
    <div class="row">
    <div class="col-md-12">
        <!--Video-->

    </div>
    </div>

</div>

<div class="container d-flex justify-content-center">
    <div class="row">
    <div class="col-md-12">
        <img class="tamanho-imgLogo" src="../../assets/img/logosobre.png" alt="">
    </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
      <div class="col-md-6 mt-2">
        <img class="tamanho-imgSobre" src="../../assets/img/Nature-bro.png" alt="">
      </div>
      <div class="col-md-6">
          <p>Sobre nós</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum eius modi voluptatum molestiae ratione quia perferendis iste facilis, error cum ut natus facere odit. Deleniti adipisci voluptas quidem labore.
      </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-2">
          <img class="tamanho-imgSobre" src="../../assets/img/Nature-bro.png" alt="">
        </div>
        <div class="col-md-6">
            <p>Sobre nós</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum eius modi voluptatum molestiae ratione quia perferendis iste facilis, error cum ut natus facere odit. Deleniti adipisci voluptas quidem labore.
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <img class="tamanho-imgSobre" src="../../assets/img/Nature-bro.png" alt="">
        </div>
        <div class="col-md-6">
            <p>Sobre nós</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum eius modi voluptatum molestiae ratione quia perferendis iste facilis, error cum ut natus facere odit. Deleniti adipisci voluptas quidem labore.
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-2">
          <img class="tamanho-imgSobre" src="../../assets/img/Nature-bro.png" alt="">
        </div>
        <div class="col-md-6">
            <p>Sobre nós</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum eius modi voluptatum molestiae ratione quia perferendis iste facilis, error cum ut natus facere odit. Deleniti adipisci voluptas quidem labore.
        </div>
      </div>

  </div>


  <div class="container d-flex justify-content-center">
      <div class="row">
          <div class="col-md-12">
          <div class="row row-cols-1 row-cols-md-4 mt-3" align="center">
            
            
            <div class="col mb-4">
                <div class="card">
                  <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                    <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                    <button class="btn btn-success mt-3" align="center">
                      mudar
                    </button>
                  </div>
                </div>
            </div>



            <div class="col mb-4">
                <div class="card">
                  <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                    <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                    <button class="btn btn-success mt-3" align="center">
                      mudar
                    </button>
                  </div>
                </div>
              </div>


            <div class="col mb-4">
                <div class="card">
                  <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                    <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                    <button class="btn btn-success mt-3" align="center">
                      mudar
                    </button>
                  </div>
                </div>
            </div>


            <div class="col mb-4">
                <div class="card">
                  <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                    <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                    <button class="btn btn-success mt-3" align="center">
                      mudar
                    </button>
                  </div>
                </div>
            </div>



            <div class="col mb-4">
                <div class="card">
                  <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                    <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                    <button class="btn btn-success mt-3" align="center">
                      mudar
                    </button>
                  </div>
                </div>
              </div>


            <div class="col mb-4">
                <div class="card">
                  <img src="../../assets/img/card3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Óleo Essencial de Capim Limão</h5>
                    <p class="card-text">Óleo essencial para aromaterapia (10mL).</p>
                    <button class="btn btn-success mt-3" align="center">
                      mudar
                    </button>
                  </div>
                </div>
            </div>
            
            


          </div>
          
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Apoiador</h1>
              <p class="lead">Generation</p>
              <img class="tamanho-logoGeneration" src="../../assets/img/generation-logo.png" alt="">
            </div>
          </div>
      
      
        </div>

      
  </div>

  

  
  

  



