 <div class="bg-light mt-5 mb-5">
     <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

 </div>


 <div class="container mb-5">
    <div class="d-flex justify-content-end ordenar">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle borda" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ordenar Por
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Maior preço</button>
              <button class="dropdown-item" type="button">Menor preço</button>
              <button class="dropdown-item" type="button">Lançamentos</button>
            </div>
          </div>
    </div>
    <div class="d-flex">
        <div class="filtro">
            <div class="borda div-filtro">
                <h5>
                    
                </h5>
            </div>
        
        </div>
        <div class="filtrados px-5 pb-5 pt-3">
            <div class="row row-cols-1 row-cols-md-3 mt-3" align="center">
                <div class="col mb-4">
                  <div class="card">
                    <img src="../../assets/img/card4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Kit de Óleos Essenciais</h5>
                      <hr>
                      <h5 class="preco">R$ 69,90</h5>
                      <div>
                        <span class="parcela">ou 3x de R$ 23,30 sem juros</span>
                      </div>
                      <button class="btn btn-success mt-3" align="center" [routerLink]="['/entrar']">
                        Comprar
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="../../assets/img/card1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Bloco de Notas</h5>
                      <hr>
                      <h5 class="preco">R$ 19,90</h5>
                      <div>
                        <span class="parcela">ou 3x de R$ 6,63 sem juros</span>
                      </div>
                      <button class="btn btn-success mt-3" align="center" [routerLink]="['/entrar']">
                        Comprar
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="../../assets/img/card2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Ecopad</h5>
                      <hr>
                      <h5 class="preco">R$ 29,90</h5>
                      <div>
                        <span class="parcela">ou 3x de R$ 9,96 sem juros</span>
                      </div>
                      <button class="btn btn-success mt-3" align="center" [routerLink]="['/entrar']">
                        Comprar
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                      <img src="../../assets/img/card2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Ecopad</h5>
                        <hr>
                        <h5 class="preco">R$ 29,90</h5>
                        <div>
                          <span class="parcela">ou 3x de R$ 9,96 sem juros</span>
                        </div>
                        <button class="btn btn-success mt-3" align="center" [routerLink]="['/entrar']">
                          Comprar
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="../../assets/img/card2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Ecopad</h5>
                        <hr>
                        <h5 class="preco">R$ 29,90</h5>
                        <div>
                          <span class="parcela">ou 3x de R$ 9,96 sem juros</span>
                        </div>
                        <button class="btn btn-success mt-3" align="center" [routerLink]="['/entrar']">
                          Comprar
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="../../assets/img/card2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Ecopad</h5>
                        <hr>
                        <h5 class="preco">R$ 29,90</h5>
                        <div>
                          <span class="parcela">ou 3x de R$ 9,96 sem juros</span>
                        </div>
                        <button class="btn btn-success mt-3" align="center" [routerLink]="['/entrar']">
                          Comprar
                        </button>
                      </div>
                    </div>
                  </div>
                  
                
              </div>
        </div>
    </div>
 </div>