<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" href="#">
        <img src="https://i.imgur.com/qPa7VJ9.png" alt="Logo image" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Acessórios & Utensílios</a>
                    <a class="dropdown-item" href="#">Aromaterapia</a>
                    <a class="dropdown-item" href="#">Decoração & Móveis</a>
                    <a class="dropdown-item" href="#">Higiene Pessoal</a>
                    <a class="dropdown-item" href="#">Papelaria</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/entrar']">
                    <button class="btn btn-light my-2 my-sm-0" type="submit" >
                    Minha conta
                    </button>
                </a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Encontre um produto" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </ul>
        
    </div>
</nav>