.btn-sucesso-eco {
    background-color: var(--verde-parcela);
    color: #fff;
}

.btn-cancelar-eco {
    background-color: transparent;
    border: 2px solid var(--verde-parcela);
    color: var(--verde-parcela);
    font-weight: 600;
    margin-right: 20px;
}

.form-eco {
    margin-top: 20px;
}

.form-eco-sobrenome {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .form-nomes {
        flex-direction: column;
    }

    .form-eco-sobrenome {
        margin: 20px 0 0 0;
    }
}