span { 
    color: rgb(36, 17, 119); 
} 

::-webkit-input-placeholder { 
    color: #711 
}

.bot {
	display: flex;
}

.bot div { 
    margin: 10px; 
}

#fala-usuario { 
    /*width: 500px;*/
	width: 265px;
    border: 0; 
    padding: 5px; 
    border: 1px solid #421; 
}

.chat {
	height: 300px;
	width: 50vw;
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
} 

.mensagens {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

#botao-chatbot {
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 20px;
	width: 60px;
	height: 60px;
	background-color: #075f2193;
	border-radius: 100%;
}

#conteudo-botao {
	font-size: 1.5em;
	color: #fff;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#chat-chatbot {
	display: none;
	position: fixed;
	right: 25px;
	bottom: 100px;
	width: 300px;
	height: 400px;
	background-color: #075f2193;
}