<div class="row row-cols-1 row-cols-md-2" align="center">
    <div class="col mb-4">
      <div class="card">
        <div class="px-5 pt-3">
            <img src="../../assets/img/card4.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Kit de Óleos Essenciais</h5>
          <hr>
          <h5 class="preco">R$ 69,90</h5>
          <div class="p-3">
          <div class="div-botoes">
              <button class="btn btn-secondary mt-2 w-100" align="center">Ver produto</button>
          </div>

          <div class="div-botoes">
          <button class="btn btn-info mt-3 mr-10 w-45" align="center">
            Editar
          </button>
          <button class="btn btn-danger mt-3 w-45" align="center">
            Excluir
          </button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>