.form-textarea-eco {
    /* posição relativa pois a posição normal (estática) renderiza os elementos HTML em ordem, e a gente vai deixar um em cima do outro */
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    /* width de 100% para ficar no tamanho da div mãe (aquela col-md-6) */
    width: 100%;

    /* height de 50px pois o form tem q ficar um pouco alto, já que o label vai estar dentro dele */
    height: 80px;

    /* user-select none para o usuário não conseguir selecionar o texto do label com o mouse e ficar parecendo um placeholder de verdade */
    user-select: none;
}

.textarea-eco {
    height: 75px;
}

.select-eco {
    width: 100%;
    padding: 10px;
    color: gray;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.input-eco:invalid + .label-eco {
    top: -0.45rem;
    left: 10px;
    font-size: 0.9rem;
    z-index: 2;
    width: auto;
    height: 0.9rem;
}

.btn-sucesso-eco {
    background-color: var(--verde-parcela);
    color: #fff;
}

.btn-cancelar-eco {
    background-color: transparent;
    border: 2px solid var(--verde-parcela);
    color: var(--verde-parcela);
    font-weight: 600;
}