<div class="container container-contato-eco mb-5">
    <h2 class="mt-5 text-titulos">Dúvidas Frequentes</h2>

    <h4 class="h4 mt-5">Clientes</h4>
    
    <div class="accordion mt-4" id="accordionExample">
        <div class="card">
          
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block btn-light text-left botao-menu" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Porque alguns produtos ficam indisponíveis no site?
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Na plataforma do Efeito Eco  os vendedores cadastram e vendem os produtos, de acordo com sua programação de produção e estoque. Como, em sua maioria, os produtos são handmades, é possível que alguns produtos estejam disponíveis e outros não.
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block btn-light text-left collapsed botao-menu" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Porque produtos de papelaria as vezes tem tonalidades diferentes?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Por se tratar de produtos produzidos, a partir, de material reciclável, o controle de cor fica comprometido. Porém, a qualidade é sempre a mesma.
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-block btn-light text-left collapsed tab-label botao-menu" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Como funciona a entrega?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse tab-label" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Após a confirmação de pagamento, junto às instituições financeiras, a programação de entrega ocorre de acordo com o combinado com o vendedor. Normalmente, um dia após a confirmação de pagamento, o produto entra em rota de distribuição.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-block btn-light text-left collapsed tab-label botao-menu" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                E se eu não receber meu produto?
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse tab-label" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              Caso você não receba seu produto, indicamos que tente contato com o vendedor, para entender o que houve. Caso o contato não seja eficaz para solução do problema, nosso time de SAC estará disponível para apresentar para você a melhor solução.
            </div>
          </div>
        </div>

        

        



      </div>

      <h4 class="h4 mt-5">Fornecedores</h4>
    
      <div class="accordion mt-4" id="accordionExample">
          <div class="card">
            
              <div class="card-header" id="headingOneF">
              <h2 class="mb-0">
                <button class="btn btn-block btn-light text-left botao-menu" type="button" data-toggle="collapse" data-target="#collapseOneF" aria-expanded="true" aria-controls="collapseOneF">
                  Como posso vender meus produtos no Efeito Eco?
                </button>
              </h2>
            </div>
            <div id="collapseOneF" class="collapse" aria-labelledby="headingOneF" data-parent="#accordionExample">
              <div class="card-body">
                Você deve se cadastrar no nosso site, e dentro da plataforma do Efeito Eco, você estará apto para cadastrar e gerenciar seus produtos.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="headingTwoF">
              <h2 class="mb-0">
                <button class="btn btn-block btn-light text-left collapsed botao-menu" type="button" data-toggle="collapse" data-target="#collapseTwoF" aria-expanded="false" aria-controls="collapseTwoF">
                  Quais os critérios para venda de produtos?
                </button>
              </h2>
            </div>
            <div id="collapseTwoF" class="collapse" aria-labelledby="headingTwoF" data-parent="#accordionExample">
              <div class="card-body">
                Seus produtos devem, necessariamente, ser de origem ecológica: material reciclável, óleos essenciais e etc. De preferência, veganos também! As fotos dos produtos devem ser claras e o mais próximo da realidade possível.

              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="headingThreeF">
              <h2 class="mb-0">
                <button class="btn btn-block btn-light text-left collapsed tab-label botao-menu" type="button" data-toggle="collapse" data-target="#collapseThreeF" aria-expanded="false" aria-controls="collapseThreeF">
                  Como funciona o recebimento financeiro da minha venda?
                </button>
              </h2>
            </div>
            <div id="collapseThreeF" class="collapse tab-label" aria-labelledby="headingThreeF" data-parent="#accordionExample">
              <div class="card-body">
                Você recebe sua conta cadastrada, o valor da venda, já com a taxa de 8% sobre o valor do item + uma taxa fixa de R$ 3,50 subtraídas do mesmo.
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-block btn-light text-left collapsed tab-label botao-menu" type="button" data-toggle="collapse" data-target="#collapseFourF" aria-expanded="false" aria-controls="collapseFourF">
                  Eu não tenho experiência em vendas com Marketplace, o que devo fazer?
                </button>
              </h2>
            </div>
            <div id="collapseFourF" class="collapse tab-label" aria-labelledby="headingFourF" data-parent="#accordionExample">
              <div class="card-body">
                Entre em contato conosco, através do formulário abaixo.
                Nosso objetivo é ampliar suas possibilidades de venda, e auxiliar no crescimento do seu negócio. Portanto, temos uma equipe exclusiva para integração de novos parceiros.

              </div>
            </div>
          </div>
  
          
  
          
  
  
  
        </div>

<div class="container-trabalhe-conosco d-flex align-items-center mt-5">
  <div class="col-md-5 naoArrasta"><img class = "img-tc naoCopia" src="https://i.imgur.com/PsWbZmf.png" alt=""></div>

  <div class="trabalhe-conosco-form col-md-7">
    <h2 class="mt-5 text-titulos">Entre em contato</h2>

<div class="form-eco mt-4">
    <!--O placeholder o input fica vazio, pois o label vai agir como se fosse um.-->
    <!--Vamos tirar a classe form-control do bootstrap e adicionar o input-eco (nossa própria classe)-->
    <input type="text" required class="input-eco" name="foto-produto" id="foto-produto" placeholder="">
    <!--O label fica abaixo do input, mas vamos jogar ele pra cima, pra fica em cima do input e agir como um placeholder "de mentirinha"-->
    <!--Além disso, vamos usar as classes de padding de 1px (p-1), margem a esquerda de 2px (ml-2) e background branco (bg-white) para o label não ficar colado na parte esquerda do input e para ficar com um fundo branco, pois quando ele sobe, a borda do label iria passar pelas letras e ficar feio e difícil de ler. Com o fundo branco fica clean, e a borda passa por baixo do fundo, sem a gente ver-->
    <label for="foto-produto" class="p-1 ml-2 bg-white label-eco">Seu nome</label>
    <!--Para fazer a label interagir com a borda do input, não podemos usar a verdadeira borda do input. Por isso, vamos criar uma div que vai ser meramente uma borda falsa do input, que vai se modificar junto com o label.-->
    <div class="borda-do-input"></div>
</div>

<div class="form-eco mt-4">
    <!--O placeholder o input fica vazio, pois o label vai agir como se fosse um.-->
    <!--Vamos tirar a classe form-control do bootstrap e adicionar o input-eco (nossa própria classe)-->
    <input type="text" required class="input-eco" name="foto-produto" id="foto-produto" placeholder="">
    <!--O label fica abaixo do input, mas vamos jogar ele pra cima, pra fica em cima do input e agir como um placeholder "de mentirinha"-->
    <!--Além disso, vamos usar as classes de padding de 1px (p-1), margem a esquerda de 2px (ml-2) e background branco (bg-white) para o label não ficar colado na parte esquerda do input e para ficar com um fundo branco, pois quando ele sobe, a borda do label iria passar pelas letras e ficar feio e difícil de ler. Com o fundo branco fica clean, e a borda passa por baixo do fundo, sem a gente ver-->
    <label for="foto-produto" class="p-1 ml-2 bg-white label-eco">E-mail</label>
    <!--Para fazer a label interagir com a borda do input, não podemos usar a verdadeira borda do input. Por isso, vamos criar uma div que vai ser meramente uma borda falsa do input, que vai se modificar junto com o label.-->
    <div class="borda-do-input"></div>
</div>

<div class="form-eco mt-4">
    <!--O placeholder o input fica vazio, pois o label vai agir como se fosse um.-->
    <!--Vamos tirar a classe form-control do bootstrap e adicionar o input-eco (nossa própria classe)-->
    <input type="text" required class="input-eco" name="foto-produto" id="foto-produto" placeholder="">
    <!--O label fica abaixo do input, mas vamos jogar ele pra cima, pra fica em cima do input e agir como um placeholder "de mentirinha"-->
    <!--Além disso, vamos usar as classes de padding de 1px (p-1), margem a esquerda de 2px (ml-2) e background branco (bg-white) para o label não ficar colado na parte esquerda do input e para ficar com um fundo branco, pois quando ele sobe, a borda do label iria passar pelas letras e ficar feio e difícil de ler. Com o fundo branco fica clean, e a borda passa por baixo do fundo, sem a gente ver-->
    <label for="foto-produto" class="p-1 ml-2 bg-white label-eco">Telefone</label>
    <!--Para fazer a label interagir com a borda do input, não podemos usar a verdadeira borda do input. Por isso, vamos criar uma div que vai ser meramente uma borda falsa do input, que vai se modificar junto com o label.-->
    <div class="borda-do-input"></div>
</div>

<div class="form-eco mt-4">
    <select class="select-eco">
        <option value="">Escolha seu Estado *</option> 
            <option>Acre</option> 
            <option>Alagoas</option> 
            <option>Amazonas</option> 
            <option>Amapá</option> 
            <option>Bahia</option> 
            <option>Ceará</option> 
            <option>Distrito Federal</option> 
            <option>Espírito Santo</option> 
            <option>Goiás</option> 
            <option>Maranhão</option> 
            <option>Mato Grosso</option> 
            <option>Mato Grosso do Sul</option> 
            <option>Minas Gerais</option> 
            <option>Pará</option> 
            <option>Paraíba</option> 
            <option>Paraná</option> 
            <option>Pernambuco</option> 
            <option>Piauí</option> 
            <option>Rio de Janeiro</option> 
            <option>Rio Grande do Norte</option> 
            <option>Rondônia</option> 
            <option>Rio Grande do Sul</option> 
            <option>Roraima</option> 
            <option>Santa Catarina</option> 
            <option>Sergipe</option> 
            <option>São Paulo</option> 
            <option>Tocantins</option> 
    </select>
</div>

<div class="form-textarea-eco mt-4">
    <textarea class="input-eco textarea-eco" required></textarea>
    <!--O label fica abaixo do input, mas vamos jogar ele pra cima, pra fica em cima do input e agir como um placeholder "de mentirinha"-->
    <!--Além disso, vamos usar as classes de padding de 1px (p-1), margem a esquerda de 2px (ml-2) e background branco (bg-white) para o label não ficar colado na parte esquerda do input e para ficar com um fundo branco, pois quando ele sobe, a borda do label iria passar pelas letras e ficar feio e difícil de ler. Com o fundo branco fica clean, e a borda passa por baixo do fundo, sem a gente ver-->
    <label for="descricao-produto" class="p-1 ml-2 bg-white label-eco">Mensagem</label>
    <!--Para fazer a label interagir com a borda do input, não podemos usar a verdadeira borda do input. Por isso, vamos criar uma div que vai ser meramente uma borda falsa do input, que vai se modificar junto com o label.-->
    <div class="borda-do-input"></div>
</div>

    <div class="div-botoes mt-4 w-100 d-flex justify-content-center">
        <button class="btn btn-cancelar-eco mr-4" align="center" [routerLink]="['/home']">
        Cancelar
        </button>

        <button (click)='enviarContato()' class="btn btn-sucesso-eco" align="center">
        Enviar
        </button>
    </div>

    
</div>


  </div>
  <h5 class="text-center mt-5 mb-2">Mande sua mensagem também pelas nossas redes sociais</h5>
  <ul class="menu-redes-sociais d-flex justify-content-center">
      <li><a class="tamanho" href="https://www.facebook.com/Efeito-Eco-102859405242662" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a class="tamanho" href="https://twitter.com/EcoEfeito" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a class="tamanho" href="https://www.instagram.com/efeito_eco/" target="_blank"><i class="fab fa-instagram font-weight-bold"></i></a></li>
  </ul>

</div>



