.container-vendedor-eco {
    margin-top: 4.5em;
}

.container-botoes {
    width: calc(100% / 3);
}

.container-conteudo {
    width: calc(200% / 3);
}

.botao-menu {
    width: 100%;
    border-radius: 10px;
    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.5);
    transition: 0.5s;
}

.botao-menu:hover {
    color: #000;   
}

.vendedor-foto {
    border-radius: 4px;
}

@media screen and (max-width: 576px) {
    .container-vendedor-eco {
        flex-direction: column;
    }

    .container-botoes {
        width: 100%;
    }

    .botao-menu {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .container-conteudo {
        width: 100%;
        margin-top: 25px;
    }

    .vendedor-foto {
        width: 50%;
    }

    .container-botoes-secondary {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 490px) {
    .vendedor-foto {
        width: 80%;
    }

    .botao-menu {
        width: 80%;
    }
}

@media screen and (max-width: 330px) {
    .vendedor-foto {
        width: 100%;
    }

    .botao-menu {
        width: 100%;
    }
}