.container-vendedor-eco {
    margin-top: 4.5em;
}

.botao-menu {
    width: 100%;
    border-radius: 10px;
    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.5);
    transition: 0.5s;
}

.botao-menu:hover {
    color: #000;   
}

.vendedor-foto {
    border-radius: 4px;
}