.container-carrinho-eco {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.card-eco-carrinho {
    width: 50%;
    display: flex;
    border: #d2e6d8 1px solid;
    border-radius: 4px;
    overflow: hidden;
}

.img-eco-carrinho {
    overflow: hidden;
    width: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.img-eco-carrinho-arquivo {
    height: 200px;
}

.dados-eco-carrinho {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto-preco-carrinho {
    color: var(--verde-preco);
}

.remover-btn {
    cursor: pointer;
}

.botao-finalizar {
    width: 300px;
    border-radius: 10px;
    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.5);
    transition: 0.5s;
    padding: 12px 0;
    margin-left: 20px;
}

.botao-finalizar:hover {
    color: #000;
}

.form-estado-cidade {
    display: flex;
    width: 100%;
}

.login-form-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dentro-login-form-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.container-login-eco {
    display: flex;
    height: calc(110vh + var(--em-quatro));
}

.estado-form {
    margin-left: 8px;
}

.btn-successo-eco {
    background-color: var(--verde-parcela);
    color: #fff;
}

.btn-cancelar-eco {
    background-color: transparent;
    border: 2px solid var(--verde-parcela);
    color: var(--verde-parcela);
    font-weight: 600;
}

.buscar-cep{
    cursor: pointer;
    color: #0000ee
}

@media screen and (max-width: 993px){
    .form-estado-cidade{
        flex-direction: column;
    }

    .form-eco{
        width: 100%;
    }

    .estado-form{
        margin-left: 0;
    }

    .dentro-login-form-div {
        width: 70%;
    }
    .img-eco-carrinho{
        display: flex;
        width: 100%;
    }
    .nome-produto-carrinho, .produto-preco-carrinho, .btn-carrinho {
        display: flex;
        justify-content: center;
    } 
    
}

@media screen and (max-width: 800px){
    .dentro-login-form-div {
        width: 100%;
    }
}

