<h1 class="text-center">Dados do Vendedor</h1>

<div class="form-nomes d-flex mt-5">
    <div class="form-eco-usuario">
        <p class="dado-usuario-eco">{{ vendedor.nome }}</p>
        <p class="p-1 ml-2 bg-white label-eco-usuario">Nome</p>
        <div class="borda-do-input"></div>
    </div>

    <div class="form-eco-usuario ml-4"> 
        <p class="dado-usuario-eco">{{ vendedor.sobrenome }}</p>
        <p class="p-1 ml-2 bg-white label-eco-usuario">Sobrenome</p>
        <div class="borda-do-input"></div>
    </div>
</div>

<div class="form-eco-usuario mt-4"> 
    <p class="dado-usuario-eco">{{ vendedor.email }}</p>
    <p class="p-1 ml-2 bg-white label-eco-usuario">E-mail</p>
    <div class="borda-do-input"></div>
</div>